<a href="https://colab.research.google.com/github/vinitvshah/AI/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
train_path = tf.keras.utils.get_file("iris_training.csv","http://download.tensorflow.org/data/iris_training.csv")
test_path = tf.keras.utils.get_file("iris_training.csv","http://download.tensorflow.org/data/iris_test.csv")

Downloading data from http://download.tensorflow.org/data/iris_training.csv
2194/2194 [==============================] - 0s 0us/step

In [ ]:
train_path

'/root/.keras/datasets/iris_training.csv'

In [3]:
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)

In [ ]:
train.head()
test.head()

   120    4  setosa  versicolor  virginica
0  6.4  2.8     5.6         2.2          2
1  5.0  2.3     3.3         1.0          1
2  4.9  2.5     4.5         1.7          2
3  4.9  3.1     1.5         0.1          0
4  5.7  3.8     1.7         0.3          0

In [4]:
csv_column_names = ["SepalLength","SepalWidth","PetalLength","PetalWidth","Species"]

In [5]:
train = pd.read_csv(train_path, names = csv_column_names, header=0)
test = pd.read_csv(test_path, names = csv_column_names, header=0)

In [ ]:
train.head()
test.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0

In [6]:
train_y = train.pop("Species")
test_y = test.pop("Species")

In [7]:
def input_fn(features, labels, training=True, batch_size=256):
  dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))

  if training:
    dataset = dataset.shuffle(1000).repeat()
  return dataset.batch(batch_size)

In [8]:
my_feature_columns = []
for key in train.keys():
  my_feature_columns.append(tf.feature_column.numeric_column(key=key))
print(my_feature_columns)

[NumericColumn(key='SepalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [9]:
classifier = tf.estimator.DNNClassifier(
    feature_columns=my_feature_columns,
    hidden_units=[30,10],
    n_classes=3)

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpvu00dfm2

In [10]:
classifier.train(input_fn=lambda: input_fn(train,train_y,training=True),steps=5000)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/training_util.py:396: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adagrad.py:93: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [13]:
classifier.evaluate(input_fn=lambda: input_fn(test,test_y,training=False))

{'accuracy': 0.95,
 'average_loss': 0.52958673,
 'loss': 0.52958673,
 'global_step': 5000}

In [17]:
eval_result = classifier.evaluate(input_fn=lambda: input_fn(test,test_y,training=False))
#print("\nTest set accuracy: {accuracy:0.3f}\n".format(eval_result))
print(eval_result)

{'accuracy': 0.95, 'average_loss': 0.52958673, 'loss': 0.52958673, 'global_step': 5000}

In [19]:
def input_fn(features, batch_size=256):
  return tf.data.Dataset.from_tensor_slices(dict(features)).batch(batch_size)

In [20]:
features = ["SepalLength","SepalWidth","PetalLength","PetalWidth"]
predict ={}

In [21]:
print("please type numeric values as prompted")
for feature in features:
  valid = True
  while valid:
    val = input(feature + ": ")
    if not val.isdigit(): valid = False

  predict[feature] =[float(val)]
predictions = classifier.predict(input_fn=lambda: input_fn(predict))
for pred_dict in predictions:
  class_id = pred_dict["class_ids"][0]
  probability = pred_dict["probabilities"][class_id]

  print('prediction is "{}" ({:.1f}%)'.format(SPECIES[class_id],100*probability))

please type numeric values as prompted
SepalLength: 5.1
SepalWidth: 3.3
PetalLength: 1.7
PetalWidth: 0.5

NameError: ignored