<a href="https://colab.research.google.com/github/vinitvshah/AI/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [13]:
train_path = tf.keras.utils.get_file("iris_training.csv","http://download.tensorflow.org/data/iris_training.csv")
test_path = tf.keras.utils.get_file("iris_training.csv","http://download.tensorflow.org/data/iris_test.csv")

In [4]:
train_path

'/root/.keras/datasets/iris_training.csv'

In [14]:
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)

In [15]:
train.head()
test.head()

   120    4  setosa  versicolor  virginica
0  6.4  2.8     5.6         2.2          2
1  5.0  2.3     3.3         1.0          1
2  4.9  2.5     4.5         1.7          2
3  4.9  3.1     1.5         0.1          0
4  5.7  3.8     1.7         0.3          0

In [16]:
csv_column_names = ["SepalLength","SepalWidth","PetalLength","PetalWidth","Species"]

In [17]:
train = pd.read_csv(train_path, names = csv_column_names, header=0)
test = pd.read_csv(test_path, names = csv_column_names, header=0)

In [18]:
train.head()
test.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0

In [19]:
train_y = train.pop("Species")
test_y = test.pop("Species")

In [20]:
def input_fn(features, labels, training=True, batch_size=256):
  dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))

  if training:
    dataset = dataset.shuffle(1000).repeat()
  return dataset.batch(batch_size)

In [21]:
my_feature_columns = []
for key in train.keys():
  my_feature_columns.append(tf.feature_column.numeric_column(key=key))
print(my_feature_columns)

[NumericColumn(key='SepalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]